## 0. 환경설정 및 파일 불러오기

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# 시각화 관련
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
from collections import Counter
from PIL import Image
from matplotlib import rc

# 그래프에서 한글 폰트 깨지는 문제에 대한 대처(전역 글꼴 설정)
import matplotlib.font_manager as fm
import warnings
warnings.filterwarnings(action='ignore') 

import matplotlib
matplotlib.rcParams['font.family'] ='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] =False

In [2]:
df = pd.read_csv('data/[221102]최종집계 (1).csv')
df.head()

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
0,0,강남구,신사동,0.803214,0.190622,0.410824,0.385027,0.295505,0.122344,0.129746,0.422136,60.517884,62.443017,59.195693,60.673218,52.300484,52.912205,56.361834,57.010564
1,1,강남구,삼성2동,0.803214,0.172469,0.223742,0.254874,0.504201,0.103986,0.108686,0.429221,54.652150,55.926518,61.183794,63.704802,49.111604,49.631532,52.961585,53.505014
2,2,강남구,도곡2동,0.803214,0.157665,0.187969,0.246147,0.498438,0.021014,0.188475,0.386919,52.394284,53.625019,59.037863,61.530056,44.957699,45.062767,53.087759,54.030133
3,3,강남구,도곡1동,0.803214,0.160310,0.296284,0.238506,0.364411,0.011785,0.205446,0.406961,54.263432,55.455960,58.049690,59.871745,46.832576,46.891501,55.626915,56.654145
4,4,강남구,역삼2동,0.803214,0.130481,0.268705,0.263553,0.611094,0.038454,0.183520,0.406645,53.880400,55.198166,63.180360,66.235832,46.410503,46.602773,54.086074,55.003673

## 1. 상업
* 25: 역삼1동, 여의동, 삼성1동, 논현1동, 신사동
* 30: 역삼1동, 여의동, 삼성1동, 서교동, 논현1동

In [11]:
상업25 = df.copy()
상업25 = 상업25.sort_values(by = ['상업 집계 결과_25'],ascending = False)
상업25.head()

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
5,5,강남구,역삼1동,0.803214,0.388223,0.266392,0.694602,0.734675,0.174835,0.080555,0.504825,73.083951,76.556960,73.827772,77.501147,58.819616,59.693792,59.020476,59.423249
31,31,영등포구,여의동,0.627630,0.733603,0.248907,0.443395,0.652628,0.193149,0.379309,0.492557,67.316736,69.533710,71.243697,74.506838,61.054315,62.020058,65.552203,67.448750
8,8,강남구,삼성1동,0.803214,0.227524,0.340653,0.421421,0.276169,0.245698,0.145974,0.428127,61.486862,63.593966,58.433663,59.814506,55.499047,56.727536,56.634428,57.364299
13,13,강남구,논현1동,0.803214,0.230065,0.287607,0.386705,0.415821,0.082598,0.048260,0.446121,60.518413,62.451940,61.584490,63.663596,51.302009,51.714998,53.929397,54.170696
0,0,강남구,신사동,0.803214,0.190622,0.410824,0.385027,0.295505,0.122344,0.129746,0.422136,60.517884,62.443017,59.195693,60.673218,52.300484,52.912205,56.361834,57.010564

In [12]:
상업30 = df.copy()
상업30 = 상업30.sort_values(by = ['상업 집계 결과_30'],ascending = False)
상업30.head()

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
5,5,강남구,역삼1동,0.803214,0.388223,0.266392,0.694602,0.734675,0.174835,0.080555,0.504825,73.083951,76.556960,73.827772,77.501147,58.819616,59.693792,59.020476,59.423249
31,31,영등포구,여의동,0.627630,0.733603,0.248907,0.443395,0.652628,0.193149,0.379309,0.492557,67.316736,69.533710,71.243697,74.506838,61.054315,62.020058,65.552203,67.448750
8,8,강남구,삼성1동,0.803214,0.227524,0.340653,0.421421,0.276169,0.245698,0.145974,0.428127,61.486862,63.593966,58.433663,59.814506,55.499047,56.727536,56.634428,57.364299
162,162,마포구,서교동,0.324897,0.677007,0.194986,0.582979,0.534242,0.446663,0.153367,0.576077,60.470704,63.385599,57.184932,59.856142,57.705486,59.938802,47.726808,48.493641
13,13,강남구,논현1동,0.803214,0.230065,0.287607,0.386705,0.415821,0.082598,0.048260,0.446121,60.518413,62.451940,61.584490,63.663596,51.302009,51.714998,53.929397,54.170696

## 2. 주거
* 25: 역삼1동, 여의동, 세곡동, 대치2동, 청담동
* 30: 역삼1동, 여의동, 세곡동, 대치2동, 역삼2동

In [13]:
주거25 = df.copy()
주거25 = 주거25.sort_values(by = ['거주 집계 결과_25'],ascending = False)
주거25.head()

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
5,5,강남구,역삼1동,0.803214,0.388223,0.266392,0.694602,0.734675,0.174835,0.080555,0.504825,73.083951,76.556960,73.827772,77.501147,58.819616,59.693792,59.020476,59.423249
31,31,영등포구,여의동,0.627630,0.733603,0.248907,0.443395,0.652628,0.193149,0.379309,0.492557,67.316736,69.533710,71.243697,74.506838,61.054315,62.020058,65.552203,67.448750
21,21,강남구,세곡동,0.803214,0.259303,0.257605,0.123849,0.652259,0.014883,0.479265,0.435429,53.868058,54.487303,67.282223,70.543516,49.587595,49.662013,64.580142,66.976468
15,15,강남구,대치2동,0.803214,0.279618,0.319328,0.310778,0.587559,0.075737,0.217084,0.414798,59.167726,60.721614,66.518244,69.456039,51.810913,52.189595,58.796802,59.882220
10,10,강남구,청담동,0.803214,0.209283,0.364824,0.330998,0.469644,0.067297,0.284237,0.448819,59.762876,61.417867,63.867374,66.215596,51.539184,51.875669,60.599067,62.020250

In [14]:
주거30 = df.copy()
주거30 = 주거30.sort_values(by = ['거주 집계 결과_30'],ascending = False)
주거30.head()

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
5,5,강남구,역삼1동,0.803214,0.388223,0.266392,0.694602,0.734675,0.174835,0.080555,0.504825,73.083951,76.556960,73.827772,77.501147,58.819616,59.693792,59.020476,59.423249
31,31,영등포구,여의동,0.627630,0.733603,0.248907,0.443395,0.652628,0.193149,0.379309,0.492557,67.316736,69.533710,71.243697,74.506838,61.054315,62.020058,65.552203,67.448750
21,21,강남구,세곡동,0.803214,0.259303,0.257605,0.123849,0.652259,0.014883,0.479265,0.435429,53.868058,54.487303,67.282223,70.543516,49.587595,49.662013,64.580142,66.976468
15,15,강남구,대치2동,0.803214,0.279618,0.319328,0.310778,0.587559,0.075737,0.217084,0.414798,59.167726,60.721614,66.518244,69.456039,51.810913,52.189595,58.796802,59.882220
4,4,강남구,역삼2동,0.803214,0.130481,0.268705,0.263553,0.611094,0.038454,0.183520,0.406645,53.880400,55.198166,63.180360,66.235832,46.410503,46.602773,54.086074,55.003673

## 3. 학교
* 25: 여의동, 세곡동, 수서동, 청담동, 역삼1동
* 30: 여의동, 세곡동, 수서동, 청담동, 대치2동

In [15]:
학교25 = df.copy()
학교25 = 학교25.sort_values(by = ['학교 집계 결과_25'],ascending = False)
학교25.head()

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
31,31,영등포구,여의동,0.627630,0.733603,0.248907,0.443395,0.652628,0.193149,0.379309,0.492557,67.316736,69.533710,71.243697,74.506838,61.054315,62.020058,65.552203,67.448750
21,21,강남구,세곡동,0.803214,0.259303,0.257605,0.123849,0.652259,0.014883,0.479265,0.435429,53.868058,54.487303,67.282223,70.543516,49.587595,49.662013,64.580142,66.976468
18,18,강남구,수서동,0.803214,0.215467,0.348044,0.265559,0.297176,0.009669,0.361151,0.387203,56.211714,57.539507,57.754677,59.240555,48.203141,48.251484,60.855562,62.661317
10,10,강남구,청담동,0.803214,0.209283,0.364824,0.330998,0.469644,0.067297,0.284237,0.448819,59.762876,61.417867,63.867374,66.215596,51.539184,51.875669,60.599067,62.020250
5,5,강남구,역삼1동,0.803214,0.388223,0.266392,0.694602,0.734675,0.174835,0.080555,0.504825,73.083951,76.556960,73.827772,77.501147,58.819616,59.693792,59.020476,59.423249

In [16]:
학교30 = df.copy()
학교30 = 학교30.sort_values(by = ['학교 집계 결과_30'],ascending = False)
학교30.head()

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
31,31,영등포구,여의동,0.627630,0.733603,0.248907,0.443395,0.652628,0.193149,0.379309,0.492557,67.316736,69.533710,71.243697,74.506838,61.054315,62.020058,65.552203,67.448750
21,21,강남구,세곡동,0.803214,0.259303,0.257605,0.123849,0.652259,0.014883,0.479265,0.435429,53.868058,54.487303,67.282223,70.543516,49.587595,49.662013,64.580142,66.976468
18,18,강남구,수서동,0.803214,0.215467,0.348044,0.265559,0.297176,0.009669,0.361151,0.387203,56.211714,57.539507,57.754677,59.240555,48.203141,48.251484,60.855562,62.661317
10,10,강남구,청담동,0.803214,0.209283,0.364824,0.330998,0.469644,0.067297,0.284237,0.448819,59.762876,61.417867,63.867374,66.215596,51.539184,51.875669,60.599067,62.020250
15,15,강남구,대치2동,0.803214,0.279618,0.319328,0.310778,0.587559,0.075737,0.217084,0.414798,59.167726,60.721614,66.518244,69.456039,51.810913,52.189595,58.796802,59.882220

## 4. 문화
* 25: 여의동, 역삼1동, 종로1.2.3.4가동, 서교동, 삼성1동
* 30: 종로1.2.3.4가동, 여의동, 서교동, 역삼1동, 삼성1동

In [17]:
문화25 = df.copy()
문화25 = 문화25.sort_values(by = ['문화 집계 결과_25'],ascending = False)
문화25.head()

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
31,31,영등포구,여의동,0.627630,0.733603,0.248907,0.443395,0.652628,0.193149,0.379309,0.492557,67.316736,69.533710,71.243697,74.506838,61.054315,62.020058,65.552203,67.448750
5,5,강남구,역삼1동,0.803214,0.388223,0.266392,0.694602,0.734675,0.174835,0.080555,0.504825,73.083951,76.556960,73.827772,77.501147,58.819616,59.693792,59.020476,59.423249
114,114,종로구,종로1.2.3.4가동,0.354463,0.488368,0.577638,0.598236,0.239354,0.792117,0.128962,0.260132,53.451710,56.442888,45.120523,46.317292,58.643973,62.604559,42.189760,42.834569
162,162,마포구,서교동,0.324897,0.677007,0.194986,0.582979,0.534242,0.446663,0.153367,0.576077,60.470704,63.385599,57.184932,59.856142,57.705486,59.938802,47.726808,48.493641
8,8,강남구,삼성1동,0.803214,0.227524,0.340653,0.421421,0.276169,0.245698,0.145974,0.428127,61.486862,63.593966,58.433663,59.814506,55.499047,56.727536,56.634428,57.364299

In [18]:
문화30 = df.copy()
문화30 = 문화30.sort_values(by = ['문화 집계 결과_30'],ascending = False)
문화30.head()

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
114,114,종로구,종로1.2.3.4가동,0.354463,0.488368,0.577638,0.598236,0.239354,0.792117,0.128962,0.260132,53.451710,56.442888,45.120523,46.317292,58.643973,62.604559,42.189760,42.834569
31,31,영등포구,여의동,0.627630,0.733603,0.248907,0.443395,0.652628,0.193149,0.379309,0.492557,67.316736,69.533710,71.243697,74.506838,61.054315,62.020058,65.552203,67.448750
162,162,마포구,서교동,0.324897,0.677007,0.194986,0.582979,0.534242,0.446663,0.153367,0.576077,60.470704,63.385599,57.184932,59.856142,57.705486,59.938802,47.726808,48.493641
5,5,강남구,역삼1동,0.803214,0.388223,0.266392,0.694602,0.734675,0.174835,0.080555,0.504825,73.083951,76.556960,73.827772,77.501147,58.819616,59.693792,59.020476,59.423249
8,8,강남구,삼성1동,0.803214,0.227524,0.340653,0.421421,0.276169,0.245698,0.145974,0.428127,61.486862,63.593966,58.433663,59.814506,55.499047,56.727536,56.634428,57.364299

In [3]:
just_문화 = df.copy()
just_문화 = just_문화.sort_values(by = ['문화지표'],ascending = False)
just_문화.head(10)

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
114,114,종로구,종로1.2.3.4가동,0.354463,0.488368,0.577638,0.598236,0.239354,0.792117,0.128962,0.260132,53.451710,56.442888,45.120523,46.317292,58.643973,62.604559,42.189760,42.834569
148,148,중구,명동,0.327723,0.323237,0.510093,0.539082,0.123749,0.484258,0.125297,0.362376,49.618474,52.313886,39.662784,40.281527,48.238021,50.659310,39.345050,39.971533
162,162,마포구,서교동,0.324897,0.677007,0.194986,0.582979,0.534242,0.446663,0.153367,0.576077,60.470704,63.385599,57.184932,59.856142,57.705486,59.938802,47.726808,48.493641
352,352,서대문구,신촌동,0.244380,0.395175,0.378843,0.450533,0.416979,0.268201,0.273855,0.314158,42.812721,45.065385,41.816662,43.901558,38.592202,39.933205,37.967178,39.336452
147,147,중구,소공동,0.327723,0.303852,0.350192,0.410936,0.106735,0.261447,0.140266,0.309025,42.334785,44.389464,34.816450,35.350125,38.489850,39.797086,35.695701,36.397030
8,8,강남구,삼성1동,0.803214,0.227524,0.340653,0.421421,0.276169,0.245698,0.145974,0.428127,61.486862,63.593966,58.433663,59.814506,55.499047,56.727536,56.634428,57.364299
149,149,중구,광희동,0.327723,0.260160,0.282505,0.441008,0.134100,0.224922,0.053046,0.301493,41.043601,43.248643,33.346170,34.016671,35.407667,36.532278,31.490739,31.755970
146,146,중구,회현동,0.327723,0.461923,0.280089,0.424631,0.131915,0.194698,0.083427,0.321002,45.520061,47.643215,37.666819,38.326394,39.997143,40.970632,36.679865,37.096999
31,31,영등포구,여의동,0.627630,0.733603,0.248907,0.443395,0.652628,0.193149,0.379309,0.492557,67.316736,69.533710,71.243697,74.506838,61.054315,62.020058,65.552203,67.448750
338,338,강북구,우이동,0.247383,0.203334,0.105357,0.201576,0.326373,0.185079,0.070785,0.181397,25.074018,26.081896,27.931708,29.563573,24.467191,25.392585,21.963508,22.317436

In [4]:
DATA = df.copy()
DATA['상업 집계 결과_40'] = DATA['불안전성지표']*36.0 + DATA['쾌적성지표']* 29.7 + DATA['접근성지표']*21.5 + DATA['비환경지표']*13.0 + DATA['상업지표']*40
DATA['상업 집계 결과_50'] = DATA['불안전성지표']*36.0 + DATA['쾌적성지표']* 29.7 + DATA['접근성지표']*21.5 + DATA['비환경지표']*13.0 + DATA['상업지표']*50

# 거주유형
DATA['거주 집계 결과_40'] = DATA['불안전성지표']*37.5 + DATA['쾌적성지표']* 26.7 + DATA['접근성지표']*19.3 + DATA['비환경지표']*16.4 + DATA['주거지표']*40
DATA['거주 집계 결과_50'] = DATA['불안전성지표']*37.5 + DATA['쾌적성지표']* 26.7 + DATA['접근성지표']*19.3 + DATA['비환경지표']*16.4 + DATA['주거지표']*50

# 문화유형
DATA['문화 집계 결과_40'] = DATA['불안전성지표']*33.3 + DATA['쾌적성지표']* 29.5 + DATA['접근성지표']*23.8 + DATA['비환경지표']*13.4 + DATA['문화지표']*40
DATA['문화 집계 결과_50'] = DATA['불안전성지표']*33.3 + DATA['쾌적성지표']* 29.5 + DATA['접근성지표']*23.8 + DATA['비환경지표']*13.4 + DATA['문화지표']*50

# 학교유형
DATA['학교 집계 결과_40'] = DATA['불안전성지표']*40.9 + DATA['쾌적성지표']* 25.1 + DATA['접근성지표']*19.7 + DATA['비환경지표']*14.4 + DATA['학교지표']*40
DATA['학교 집계 결과_50'] = DATA['불안전성지표']*40.9 + DATA['쾌적성지표']* 25.1 + DATA['접근성지표']*19.7 + DATA['비환경지표']*14.4 + DATA['학교지표']*50

In [5]:
DATA.to_csv('[221117]최종지표.csv')

## 문화, 학교, 주거, 상업  
* 가중치 40, 50

In [6]:
df = pd.read_csv('[221117]최종지표.csv')
df.head()

,Unnamed: 0.1,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30,상업 집계 결과_40,상업 집계 결과_50,거주 집계 결과_40,거주 집계 결과_50,문화 집계 결과_40,문화 집계 결과_50,학교 집계 결과_40,학교 집계 결과_50
0,0,0,강남구,신사동,0.803214,0.190622,0.410824,0.385027,0.295505,0.122344,0.129746,0.422136,60.517884,62.443017,59.195693,60.673218,52.300484,52.912205,56.361834,57.010564,66.293282,70.143548,63.628268,66.583318,54.135649,55.359092,58.308025,59.605486
1,1,1,강남구,삼성2동,0.803214,0.172469,0.223742,0.254874,0.504201,0.103986,0.108686,0.429221,54.652150,55.926518,61.183794,63.704802,49.111604,49.631532,52.961585,53.505014,58.475255,61.023991,68.746817,73.788832,50.671389,51.711245,54.591874,55.678733
2,2,2,강남구,도곡2동,0.803214,0.157665,0.187969,0.246147,0.498438,0.021014,0.188475,0.386919,52.394284,53.625019,59.037863,61.530056,44.957699,45.062767,53.087759,54.030133,56.086490,58.547961,66.514441,71.498826,45.272903,45.483039,55.914882,57.799631
3,3,3,강남구,도곡1동,0.803214,0.160310,0.296284,0.238506,0.364411,0.011785,0.205446,0.406961,54.263432,55.455960,58.049690,59.871745,46.832576,46.891501,55.626915,56.654145,57.841015,60.226070,63.515854,67.159964,47.009352,47.127202,58.708605,60.763065
4,4,4,강남구,역삼2동,0.803214,0.130481,0.268705,0.263553,0.611094,0.038454,0.183520,0.406645,53.880400,55.198166,63.180360,66.235832,46.410503,46.602773,54.086074,55.003673,57.833697,60.469228,72.346777,78.457722,46.987313,47.371852,56.838872,58.674071

In [12]:
상업 = df.copy()
상업40 = 상업.sort_values(by = ['상업 집계 결과_40'],ascending = False)
상업50 = 상업.sort_values(by = ['상업 집계 결과_50'],ascending = False)
print(상업40['행정동'].head(6))
print(상업50['행정동'].head(6))

5      역삼1동
31      여의동
162     서교동
8      삼성1동
13     논현1동
0       신사동
Name: 행정동, dtype: object
5      역삼1동
31      여의동
162     서교동
8      삼성1동
13     논현1동
0       신사동
Name: 행정동, dtype: object

In [13]:
거주 = df.copy()
거주40 = 거주.sort_values(by = ['거주 집계 결과_40'],ascending = False)
거주50 = 거주.sort_values(by = ['거주 집계 결과_50'],ascending = False)
print(거주40['행정동'].head(5))
print(거주50['행정동'].head(6))

5     역삼1동
31     여의동
21     세곡동
15    대치2동
4     역삼2동
Name: 행정동, dtype: object
5     역삼1동
31     여의동
21     세곡동
15    대치2동
4     역삼2동
10     청담동
Name: 행정동, dtype: object

In [14]:
학교 = df.copy()
학교40 = 학교.sort_values(by = ['학교 집계 결과_40'],ascending = False)
학교50 = 학교.sort_values(by = ['학교 집계 결과_50'],ascending = False)
print(학교40['행정동'].head(5))
print(학교50['행정동'].head(6))

21    세곡동
31    여의동
18    수서동
10    청담동
41    장지동
Name: 행정동, dtype: object
21     세곡동
31     여의동
18     수서동
41     장지동
10     청담동
84    양재1동
Name: 행정동, dtype: object

In [11]:
문화 = df.copy()
문화40 = 문화.sort_values(by = ['문화 집계 결과_40'],ascending = False)
문화50 = 문화.sort_values(by = ['문화 집계 결과_50'],ascending = False)
print(문화40['행정동'].head(10))
print(문화50['행정동'].head(10))

114    종로1.2.3.4가동
162            서교동
31             여의동
5             역삼1동
8             삼성1동
148             명동
0              신사동
11            압구정동
15            대치2동
10             청담동
Name: 행정동, dtype: object
114    종로1.2.3.4가동
162            서교동
31             여의동
5             역삼1동
8             삼성1동
148             명동
0              신사동
11            압구정동
15            대치2동
13            논현1동
Name: 행정동, dtype: object

## 행정동별 차없거개수 구하기 전처리

In [3]:
df2 = pd.read_csv('차없길_법정동.csv')
df2.head()

,Unnamed: 0,보행자전용도로명,시군구명,법정동명,지정일자,운영방식구분,지정목적,데이터기준일자
0,0,개포종합시장보행전용거리1,강남구,개포동,2016-09-26,전일제,보행환경개선,2022-10-04
1,1,개포종합시장보행전용거리2,강남구,개포동,2016-09-26,전일제,보행환경개선,2022-10-04
2,0,한천로 162길,강북구,수유동,2016-08-01,전일제,안전한 보행로 확보,2022-04-21
3,1,솔샘로50길 4,강북구,미아동,2016-08-01,전일제,안전한 보행로 확보,2022-04-21
4,0,우장산공원길,강서구,우장산동,2010-11-06,주말제,보행환경개선,2022-02-08

In [20]:
차없거_법정동 = pd.DataFrame(df2[['시군구명','법정동명']].value_counts())
#차없거_법정동 = 차없거_법정동.rename(columns=차없거_법정동.iloc[0])
#차없거_법정동 = 차없거_법정동.drop(차없거_법정동.index[0])
차없거_법정동.to_csv('[221119]차없거개수_법정동.csv')

In [22]:
차없거개수_법정동 = pd.read_csv('[221119]차없거개수_법정동.csv')
차없거개수_법정동.head()

   시군구명       법정동명  0
0  영등포구        문래동  7
1    중구  명동1가,명동2가  6
2   관악구        봉천동  5
3   관악구        신림동  4
4    중구        남창동  4

In [23]:
차없거개수_법정동.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시군구명    52 non-null     object
 1   법정동명    52 non-null     object
 2   0       52 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.3+ KB

In [9]:
dfDong = pd.read_excel('data/한국행정구역분류(2022.10.1.기준).xlsx', sheet_name = '행정동 및 법정동코드와의 연계표')
dfDong.rename(columns = dfDong.iloc[0], inplace= True) #첫번째행을 열이름으로
dfDong.drop(dfDong.index[0],inplace=True)#첫번째행삭제
dfDong = dfDong.astype({'행정기관코드':'int64'})
dfDong = dfDong[['시군구','법정동','행정동\n(행정기관명)']]
dfDong.head()

     시군구    법정동 행정동\n(행정기관명)
1  서울특별시  서울특별시        서울특별시
2    종로구    종로구          종로구
3    종로구    청운동        청운효자동
4    종로구    신교동        청운효자동
5    종로구    궁정동        청운효자동

In [51]:
행정동_차없거개수 = pd.merge(dfDong,차없거개수_법정동,how = 'left',left_on = '법정동',right_on = '법정동명' )
행정동_차없거개수 = 행정동_차없거개수[['시군구','법정동','시군구명','법정동명','행정동\n(행정기관명)','0']].dropna()
행정동_차없거개수 = 행정동_차없거개수[행정동_차없거개수['시군구']==행정동_차없거개수['시군구명']]
행정동_차없거개수.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 26 to 722
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   시군구          87 non-null     object
 1   법정동          87 non-null     object
 2   시군구명         87 non-null     object
 3   법정동명         87 non-null     object
 4   행정동
(행정기관명)  87 non-null     object
 5   0            87 non-null     float64
dtypes: float64(1), object(5)
memory usage: 4.8+ KB

In [52]:
행정동_차없거개수 = 행정동_차없거개수[['시군구','행정동\n(행정기관명)','0']]
행정동_차없거개수=행정동_차없거개수.groupby(['시군구','행정동\n(행정기관명)'],as_index=False).sum()
행정동_차없거개수.columns = ['자치구', '행정동', '차없거수']
행정동_차없거개수

     자치구          행정동  차없거수
0    강남구         개포1동   2.0
1    강남구         개포2동   2.0
2    강남구         개포4동   2.0
3    강남구         일원2동   2.0
4    강북구          미아동   1.0
5    강북구         삼각산동   1.0
6    강북구          삼양동   1.0
7    강북구          송중동   1.0
8    강북구          송천동   1.0
9    강북구         수유1동   1.0
10   강북구         수유2동   1.0
11   강북구         수유3동   1.0
12   강북구          우이동   1.0
13   강북구          인수동   1.0
14   강서구          염창동   2.0
15   관악구         낙성대동   5.0
16   관악구          난곡동   4.0
17   관악구          난향동   4.0
18   관악구          대학동   4.0
19   관악구          미성동   4.0
20   관악구         보라매동   5.0
21   관악구          삼성동   4.0
22   관악구          서림동   4.0
23   관악구          서원동   4.0
24   관악구          성현동   5.0
25   관악구          신림동   4.0
26   관악구          신사동   4.0
27   관악구          신원동   4.0
28   관악구          은천동   5.0
29   관악구          인헌동   5.0
30   관악구          조원동   4.0
31   관악구          중앙동   5.0
32   관악구          청룡동   5.0
33   관악구          청림동   5.0
34   관악구          행운동   5.0
35   구로구        구로제1동   1.0
36   구로구        구로제2동   1.0
37   구로구        구로제3동   1.0
38   구로구        구로제4동   1.0
39   구로구        구로제5동   1.0
40   구로구          수궁동   1.0
41   노원구        상계10동   3.0
42   노원구         상계1동   3.0
43   노원구         상계2동   3.0
44   노원구       상계3.4동   3.0
45   노원구         상계5동   3.0
46   노원구       상계6.7동   3.0
47   노원구         상계8동   3.0
48   노원구         상계9동   3.0
49   노원구         중계1동   1.0
50   노원구       중계2.3동   1.0
51   노원구         중계4동   1.0
52   노원구         중계본동   1.0
53   동작구          대방동   1.0
54   동작구        상도제1동   3.0
55   동작구        상도제2동   3.0
56   동작구        상도제3동   3.0
57   동작구        상도제4동   3.0
58   마포구          서교동   2.0
59  서대문구          신촌동   1.0
60   서초구         서초1동   1.0
61   서초구         서초2동   1.0
62   서초구         서초3동   1.0
63   서초구         서초4동   1.0
64   성동구          사근동   1.0
65   송파구         마천1동   1.0
66   송파구         마천2동   1.0
67  영등포구         영등포동   2.0
68  영등포구        영등포본동   2.0
69   용산구       이태원제1동   2.0
70   용산구       이태원제2동   2.0
71   용산구         한강로동   1.0
72   종로구          삼청동   1.0
73   종로구        숭인제1동   1.0
74   종로구        숭인제2동   1.0
75   종로구          이화동   3.0
76   종로구  종로1.2.3.4가동   4.0
77   종로구        창신제1동   1.0
78   종로구        창신제2동   1.0
79   종로구        창신제3동   1.0
80   종로구          혜화동   1.0
81    중구          황학동   1.0
82    중구          회현동   4.0

In [53]:
행정동_차없거개수.to_csv('[221119]차없거개수_행정동.csv')